*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --primary-color: white;
    --secondary-color: black;
    --font-size: 1rem;
    background: rgb(81,103,231);
background: radial-gradient(circle, rgba(81,103,231,1) 11%, rgba(57,195,197,1) 75%);
}

/* header */

header{
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
    cursor: pointer;
    background-color: var(--secondary-color);
}
nav{
    display: flex;
    width: 100%;
    padding: 1rem 1.5rem;
    align-items: center;
    justify-content: space-between;
}
.hidden-header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    /* border-top: 2px solid red; */
    position: fixed;
    bottom: 100%;
    left: 0px;
    height: 100vh;
    transition: 0.5s;
    cursor: pointer;
    padding: 8rem 5rem;
    background: rgb(0,0,0);
    background: linear-gradient(175deg, rgba(0,0,0,1) 81%, rgba(150,75,0,1) 99%);
}
.hidden-header.active{
    bottom: 0;
}
.hidden-header span h2{
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 500;
}
.hidden-header-year{
    display: flex;
    margin-top: 3rem;
    flex-direction: column;
    justify-content: flex-start;
    /* border: 2px solid red; */
}
#second-year p{
    color: #d3d3d368;
    font-size: 10rem;
    font-weight: 500;
    transition: color 800ms;
}
#second-year p:hover{
    color:#5360ea;
}
.hidden-header #first-year p{
    color: var(--primary-color);
    font-size: 10rem;
    font-weight: 500;
    transition: color 800ms;
}
.hidden-header #first-year p:hover{
    color: #00bfff;
}

/* responsive header */
.ham-container{
    padding: 0 1.5rem;
    display: block;
    /* border: 2px solid black; */
}
#hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: none;
    width: 50px;
    border: none;
    height: 20px;
    position: relative;
    cursor: pointer;
}
#hamburger span{
    background-color: var(--primary-color);
    width: 100%;
    height: 3px;
    transition: width 400ms, background-color 300ms;
}
#hamburger:hover span{
    width: 80%;
}
#hamburger.active span:nth-of-type(1){
    /* width: 70%; */
    transform: rotate(30deg) translateY(5px) translateX(4px);
}
#hamburger.active span:nth-of-type(2){
    /* width: 70%; */
    transform: rotate(-30deg) translateY(-5px) translateX(4px);
}
/* hamburger styling ends here */

.logo{
    width: 100%;
    /* border: 2px solid red; */
    padding-left: 1rem;
}
.logo h5{
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 1.3rem;
}
.logo h2{
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 2.2rem;
}
.music{
    width: 100%;
    display: flex;
    /* border: 2px solid red; */
    gap: 0.1rem;
    align-items: center;
    justify-content: flex-end;
}
.music i{
    font-size: 2rem;
    color: var(--primary-color);
}
.music p{
    font-size: 2.2rem;
    color: var(--primary-color);
    text-transform: capitalize;
}

/* hero section */
main{
    width: 100%;
    /* height: 50vh; */
}
.hero{
    width: 100%;
    padding: 2rem 3rem;
}
.hero-content{
    width: 100%;
    display: flex;
    height: 70vh;
    background: rgb(69,183,206);
    background: radial-gradient(circle, rgba(69,183,206,1) 26%, rgba(52,122,233,1) 71%);
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
    border-radius: 20px;
    justify-content: center;
    gap: 3rem;
}
#hero-head{
    width: 100%;
    text-align: center;
    text-wrap: wrap;
}
#hero-head h2{
    color: var(--primary-color);
    font-size: 3.5rem;
}
#hero-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hero-button button{
    width: 100%;
    max-width: 330px;
    display: flex;
    padding: 1rem 0;
    border: none;
    outline: none;
    border-radius: 30px;
    flex-direction: row;
    cursor: pointer;
    transition: 0.8s;
    justify-content: center;
    gap: 0.8rem;
    align-items: center;
    background-color: var(--secondary-color);
}
#hero-button button:hover{
    background-color: var(--primary-color);
}
#hero-button button:hover i,#hero-button button:hover p{
    color: var(--secondary-color);
}
#hero-button button i{
    font-size: 1.3rem;
    color: var(--primary-color);
}
#hero-button button p{
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 1.3rem;
}
/* hero ends */

/* artist section */
section{
    width: 100%;
    display: flex;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}
.section-header{
    width: 100%;
    display: flex;
    padding: 3rem 0;
    align-items: center;
    justify-content: center;
}
.section-header h2{
    font-size: 2.8rem;
    text-align: center;
    color: var(--secondary-color);
    /* color: var(--primary-color); */
}
.card{
    width: 100%;
    padding: 0 3rem;
}
.card-content{
    width: 100%;
    border-radius: 25px;
    display: flex;
    background: black;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
#card-header{
    width: 100%;
    padding-left: 1rem;
}
#card-header h2{
    font-size: 2rem;
    color: var(--primary-color);
    text-transform: capitalize;
}
#card-header p{
    font-size: 1.7rem;
    color: #d3d3d3;
    opacity: 0.8;
    font-weight: 500;
    /* color:lightgrey; */
}
.card-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    /* gap: var(--font-size);     */
}
.card-number{
    width: 100%;
    flex-direction: row;
    display: flex;
    gap: 4rem;
    justify-content: flex-start;
    align-items: center;
}
.card-number span{
    font-size: 4rem;
    color: #d3d3d3;
    opacity: 0.8;
    font-weight: 700;
}
.artist,.album,.playlist,.song{
    width: 100%;
    flex-direction: row;
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
}
.artist #artist-img{
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
}
#artist-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#artist-number{
    /* width: 100%; */
    /* border: 2px solid red; */
    padding: 1.2rem;
}
#artist-number h5{
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 2.5rem;
}
#artist-number p{
    color: #d3d3d3;
    opacity: 0.8;
    font-weight: 500;
    font-size: var(--font-size);
}
.card-pagination{
    width: 100%;
    display: flex;
    padding: 1rem 0;
    flex-direction: row;
    align-items: center;
    position: relative;
    /* border: 2px solid red; */
    gap: 1rem;
    justify-content: center;
}
.card-pagination #dot{
    height: 15px;
    width: 15px;
    /* background: transparent; */
    background: white;
    border-radius: 50%;
}
.card-pagination #dot .active{
    background-color: var(--primary-color);
}
.card-pagination .share{
    font-size: 1.8rem;
    color: var(--secondary-color);
    border-radius: 50%;
    position: absolute;
    padding: 0.6rem;
    top: -5px;
    right: 40px;
    background-color: var(--primary-color);
}
#song-number #artist-flex,#album-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-direction: row;
}
#artist-flex i,#album-flex i{
    font-size: 0.5rem;
    border-radius: 5px;
    color: var(--secondary-color);
    padding: 0.25rem;
    background-color: var(--primary-color);
}
#song-img,#album-img,#playlist-img{
    border-radius: 10px;
    width: 80px;
    height: 80px;
    overflow: hidden;
}
#song-img img,#album-img img,#playlist-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#song-number,#album-number,#playlist-number{
    /* width: 100%; */
    /* border: 2px solid red; */
    padding: 1.2rem;
}
#song-number h5{
    color: var(--primary-color);
    text-transform: lowercase;
    font-size: 2.5rem;
}
#song-number h4,#album-number h5{
    font-size: 2.5rem;
    color: var(--primary-color);
}
#playlist-number h5{
    font-size: 2.5rem;
    color: var(--primary-color);
    text-transform: capitalize;
}
#song-number p, #album-number p, #playlist-number p{
    color: #d3d3d3;
    font-size: var(--font-size);
}

/* genre section */
.genre-body{
    width: 100%;
    /* border: 2px solid red; */
    padding: 1rem 3rem;
    /* backdrop-filter: blur(20px); */
}
.genre-content{
    width: 100%; 
    /* backdrop-filter: blur(20px); */
    /* border: 2px solid red; */
    border-radius: 25px;
    padding: 2.5rem;
    background-color: var(--secondary-color);
}
.genre-content h2{
    text-transform: capitalize;
    font-size: 2.2rem;
    /* color: var(--secondary-color); */
    color: var(--primary-color);
}
.genre-info{
    width: 100%;
}
.genre-info h3{
    font-size: 2.8rem;
    color: var(--primary-color);
    /* color: var(--secondary-color); */
    text-transform: capitalize;
}
.genre-pagination, .playlist-pagination{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}
.genre-pagination .share, .playlist-pagination .share{
    font-size: 1.8rem;
    color: var(--secondary-color);
    border-radius: 50%;
    padding: 0.6rem;
    background-color: var(--primary-color);
}

/* milestone section */
.milestone{
    width: 100%;
    overflow-x: auto;
    padding: 1rem 2rem;
    display: flex;
    scroll-snap-type: mandatory;
    scrollbar-width: none;
    /* height: 100%; */
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    /* flex-grow: 0;
    flex-shrink: 0; */
    /* flex-basis: 300px; */
    /* border: 2px solid red; */
}
.milestone-card{
    /* width: 100%; */
    width: 450px;
    border-radius: 25px;
    background-color: var(--secondary-color);
}
.milestone-content{
    padding: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.milestone-header{
    padding-left: 3rem;
    display: flex;
    width: 100%;
    /* border: 2px solid red; */
    flex-direction: column;
    justify-content: flex-start;
}
.milestone-header h2{
    color: var(--primary-color);
    /* color: var(--secondary-color); */
    font-size: 2rem;
    text-transform: capitalize;
}
.milestone-header p{
    font-size: 1.7rem;
    text-transform: capitalize;
    /* color: var(--secondary-color); */
    color: #d3d3d3;
}
.milestone .milestone-minutes{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    /* background-color: black; */
    border: 8px solid var(--primary-color);
}
.milestone .milestone-minutes h2{
    color: var(--primary-color);
    font-size: 1.6rem;
}
.milestone .milestone-minutes p{
    color: var(--primary-color);
    font-size: 0.8rem;
}
.milestone-image-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
}
.milestone-image-container .milestone-radius{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}
.milestone-img{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
}
.milestone-img img,.milestone-radius img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.milestone-footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: center;
}
.milestone-footer span h5{
    color: var(--primary-color);
    font-size: 1.3rem;
}
.milestone-footer .share{
    font-size: 1.7rem;
    color: var(--secondary-color);
    border-radius: 50%;
    padding: 0.5rem;
    background-color: var(--primary-color);
}
.milestone-pagination{
    width: 100%;
    display: flex;
    padding: 1rem 0;
    flex-direction: row;
    align-items: center;
    margin-top: -60px;
    gap: 1rem;
    justify-content: center;
}
.milestone-pagination #dot{
    background-color: var(--secondary-color);
    height: 15px;
    width: 15px;
    /* background: transparent; */
    border-radius: 50%;
}

/* replay section */
.replay{
    width: 100%;
    padding: 1rem 2rem;
}
.replay-content{
    width: 100%;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.replay-card{
    width: 100%;
    display: flex;
    padding: 1rem 3rem;
    flex-direction: column;
    border-radius: 25px;
    background: rgb(69,183,206);
    background: radial-gradient(circle, rgba(69,183,206,1) 26%, rgba(52,122,233,1) 71%);
}
.replay-music{
    width: 100%;
    display: flex;
    gap: 0.1rem;
    align-items: center;
    justify-content: flex-end;
}
.replay-music i{
    font-size: 1.8rem;
    color: var(--primary-color);
    /* color: var(--secondary-color); */
}
.replay-music p{
    font-size: 2rem;
    /* color: var(--secondary-color); */
    color: var(--primary-color);
    text-transform: capitalize;
}
.replay-number{
    width: 100%;
    padding: 1rem;
}
.replay-number h2{
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 500;
}
.replay-number h1{
    color: var(--primary-color);
    font-size: 10rem;
    font-weight: 600;
}
.replay-content .replay-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.replay-button button{
    width: 100%;
    max-width: 330px;
    display: flex;
    padding: 1rem 0;
    border: none;
    outline: none;
    border-radius: 30px;
    flex-direction: row;
    cursor: pointer;
    transition: 0.5s;
    justify-content: center;
    gap: 0.8rem;
    align-items: center;
    background-color: var(--secondary-color);
}
.replay-button button:hover{
    background: transparent;
    border: 2px solid black;
}
.replay-button button:hover p,.replay-button button:hover .arrow{
    color: var(--secondary-color);
}
.replay-button button .arrow{
    font-size: 1.3rem;
    color: var(--primary-color);
}
.replay-button button p{
    color: var(--primary-color);
    text-transform: capitalize;
    font-size: 1.3rem;
}
summary{
    background-color: #000000e7;
}
.summary-info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.8rem;
    padding: 2rem 0;
}
.summary-info > span{
    color: deepskyblue;
    font-size: 0.9rem;
}

/* footer */
footer{
    width: 100%;
}
.footer-content{
    width: 100%;
    padding: 3rem;
    background-color: #000000cf ;
}
.footer-content span > p{
    color: var(--primary-color);
    font-size: var(--font-size);
    text-transform: capitalize;
}
.footer-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}
.footer-info span:not(:last-child){
    padding-right: 1rem;
    border-right: 2px solid #d3d3d3;
}
.name-tag{
    width: 100%;
    padding-top: 2rem;
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    /* text-align: left; */
}
.name-tag i{
    font-size: 1.5rem;
}
.name-tag a{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
.name-tag a:hover{
    color: var(--secondary-color);
    transition: 0.5s;
}

/* All responsiveness */

@media (max-width:250px){
    nav{
        padding: 0.5rem;
    }
    .hidden-header{
        /* border-top: 2px solid red; */
        padding: 4rem 1rem;
        /* z-index: 5; */
    }
    .hidden-header.active{
        bottom: 0;
    }
    .hidden-header span h2{
        font-size: 1.3rem;
        font-weight: 500;
    }
    .hidden-header-year{
        margin-top: 2rem;
        /* border: 2px solid red; */
    }
    #second-year p{
        color: #d3d3d368;
        font-size: 7rem;
        font-weight: 500;
    }
    .hidden-header #first-year p{
        font-size: 7rem;
        font-weight: 500;
    }
    
    /* responsive header */
    .ham-container{
        padding: 0;
        /* border: 2px solid white; */
    }
    #hamburger{
        width: 25px;
        height: 12px;
    }
    #hamburger.active span:nth-of-type(1){
        width: 100%;
        transform: rotate(40deg) translateY(2px) translateX(3px);
    }
    #hamburger.active span:nth-of-type(2){
        width: 100%;
        transform: rotate(-40deg) translateY(-5px) translateX(4px);
    }

    /* hamburger styling ends here */
    
    .logo{
        width: 100%;
        /* border: 2px solid red; */
        padding-left: 0.7rem;
    }
    .logo h5{
        color: var(--primary-color);
        text-transform: capitalize;
        font-size: 0.8rem;
    }
    .logo h2{
        color: var(--primary-color);
        text-transform: capitalize;
        font-size: 1.2rem;
    }
    .music{
        display: flex;
        /* border: 2px solid red; */
        gap: 0.1rem;
        align-items: center;
        justify-content: flex-end;
    }
    .music i{
        font-size: 1.1rem;
        color: var(--primary-color);
    }
    .music p{
        font-size: 1.2rem;
        color: var(--primary-color);
        text-transform: capitalize;
    }
    /* hero section */

.hero{
    padding: 1rem;
}
.hero-content{
    height: 40vh;
    /* border: 2px solid red; */
    border-radius: 20px;
    justify-content: center;
    gap: 2rem;
}
#hero-head h2{
    color: var(--primary-color);
    font-size: 1.6rem;
}
#hero-button button{
    width: 100%;
    max-width: 150px;
    padding: 0.5rem 0;
    gap: 0.3rem;
}
#hero-button button i{
    font-size: 0.5rem;
}
#hero-button button p{
    font-size: 0.6rem;
}
/* hero ends */

/* artist section */
section{
    margin-bottom: 2rem;
    gap: 1rem;
}
.section-header{
    padding: 1rem 0;
}
.section-header h2{
    font-size: 1.2rem;
}
.card{
    padding: 0 1rem;
}
.card-content{
    padding: 0.8rem;
    gap: 2rem;
    border-radius: 10px;
}
#card-header{
    width: 100%;
    padding-left: 0;
}
#card-header h2{
    font-size: 1rem;
}
#card-header p{
    font-size: 0.6rem;
}
.card-info{
    padding: 0;
    gap: var(--font-size);    
}
.card-number{
    gap: 0.65rem;
}
.card-number span{
    font-size: 1.1rem;
}
.artist,.album,.playlist,.song{
    gap: 0.3rem;
}
.artist #artist-img{
    width: 35px;
    height: 35px;
}
#artist-number{
    padding: 0.1rem;
}
#artist-number h5{
    font-size: 0.8rem;
    font-weight: 500;
}
#artist-number p{
    color: #d3d3d389;
    font-size: 0.6rem;
}
.card-pagination{
    padding: 0.2rem 0;
    gap: 0.3rem;
}
.card-pagination #dot{
    height: 5px;
    width: 5px;
}
.card-pagination .share{
    font-size: 0.8rem;
    padding: 0.4rem;
    top: -10px;
    right: 5px;
}
#song-number #artist-flex,#album-flex{
    gap: 0.1rem;
}
#artist-flex i,#album-flex i{
    font-size: 0.4rem;
    border-radius: 3px;
    padding: 0.2rem;
}
#song-img,#album-img,#playlist-img{
    width: 35px;
    height: 35px;
    border-radius: 3px;
}
#song-number,#album-number,#playlist-number{
    padding: 0.2rem;
}
#song-number h5{
    font-weight: 500;
    font-size: 0.85rem;
}
#song-number h4,#album-number h5{
    font-size: 0.85rem;
    font-weight: 500;
}
#playlist-number h5{
    font-size: 0.85rem;
    font-weight: 500;
}
#song-number p, #album-number p, #playlist-number p{
    color: #d3d3d379;
    font-size: 0.6rem;
}

/* genre section */
.genre-body{
    padding: 1rem;
}
.genre-content{
    border-radius: 15px;
    padding: 1rem;
}
.genre-content h2{
    font-size: var(--font-size);
}
.genre-info h3{
    font-size: 0.9rem;
}
.genre-pagination .share{
    top: -40px;
    right: 20px;
}
/* replay section */
.replay{
    width: 100%;
    padding: 1rem;
}
.replay-content{
    width: 100%;
    padding: 0 0.5rem;
    gap: 2rem;
}
.replay-card{
    padding: 0.5rem;
    border-radius: 15px;
}
.replay-music{
    gap: 0.1rem;
}
.replay-music i{
    font-size: 0.7rem;
}
.replay-music p{
    font-size: 0.9rem;
}
.replay-number{
    padding-top: 2.5rem;
    padding-left: 0.2rem;
}
.replay-number h2{
    font-size: 1.5rem;
    font-weight: 400;
}
.replay-number h1{
    font-size: 5rem;
    font-weight: 500;
}
.replay-button button{
    width: 100%;
    max-width: 150px;
    padding: 0.5rem 0;
    gap: 0.3rem;
}
.replay-button button:hover{
    background: transparent;
    border: 2px solid black;
}
.replay-button button:hover p,.replay-button button:hover .arrow{
    color: var(--secondary-color);
}
.replay-button button .arrow{
    font-size: 0.6rem;
}
.replay-button button p{
    font-size: 0.6rem;
}

/* summary */
.summary-info{
    gap: 0.2rem;
    padding: 1.1rem 0;
}
.summary-info > span{
    font-size: 0.55rem;
}

/* footer */
.footer-content{
    padding: 1rem;
}
.footer-content span > p{
    font-size: 0.5rem;
}
.footer-info{
    gap: 0.3rem;
    flex-wrap: wrap;
}
.footer-info span:not(:last-child){
    padding-right: 0.5rem;
    border-right: 0.5px solid lightgray;
}
.name-tag{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    /* text-align: center; */
}
.name-tag i{
    font-size: 1rem;
}
.name-tag a{
    font-size: 0.7rem;
}
}

@media (min-width:251px) and (max-width:390px){
    nav{
        padding: 1.25rem;
    }
    .hidden-header{
        /* border-top: 2px solid red; */
        padding: 6rem 1.5rem;
        /* z-index: 5; */
    }
    .hidden-header.active{
        bottom: 0;
    }
    .hidden-header span h2{
        font-size: 1.6rem;
        font-weight: 500;
    }
    .hidden-header-year{
        margin-top: 2.3rem;
        /* border: 2px solid red; */
    }
    #second-year p{
        color: #d3d3d368;
        font-size: 9rem;
        font-weight: 600;
    }
    .hidden-header #first-year p{
        font-size: 9rem;
        font-weight: 600;
    }
    
    /* responsive header */
    .ham-container{
        padding: 0;
        /* border: 2px solid white; */
    }
    #hamburger{
        width: 20px;
        height: 12px;
    }
    #hamburger.active span:nth-of-type(1){
        width: 100%;
        transform: rotate(40deg) translateY(0px) translateX(3px);
    }
    #hamburger.active span:nth-of-type(2){
        width: 100%;
        transform: rotate(-40deg) translateY(-2px) translateX(4px);
    }

    /* hamburger styling ends here */
    
    .logo{
        width: 100%;
        /* border: 2px solid red; */
        padding-left: 0.7rem;
    }
    .logo h5{
        color: var(--primary-color);
        text-transform: capitalize;
        font-size: 1rem;
    }
    .logo h2{
        color: var(--primary-color);
        text-transform: capitalize;
        font-size: 1.4rem;
    }
    .music{
        display: flex;
        /* border: 2px solid red; */
        gap: 0.1rem;
        align-items: center;
        justify-content: flex-end;
    }
    .music i{
        font-size: 1.1rem;
        color: var(--primary-color);
    }
    .music p{
        font-size: 1.3rem;
        color: var(--primary-color);
        text-transform: capitalize;
    }
    /* hero section */
main{
    padding-top: 1.5rem;
}
.hero{
    padding: 1.5rem;
}
.hero-content{
    height: 55vh;
    /* border: 2px solid red; */
    border-radius: 15px;
    justify-content: center;
    gap: 1.5rem;
}
#hero-head h2{
    color: #FAF9F6;
    font-size: 1.9rem;
    font-weight: 500;
}
#hero-button button{
    width: 100%;
    max-width: 190px;
    padding: 0.7rem 0;
    gap: 0.3rem;
}
#hero-button button i{
    font-size: 0.75rem;
}
#hero-button button p{
    font-size: 0.8rem;
    font-weight: 450;
}
/* hero ends */

/* artist section */
section{
    margin-bottom: 2.5rem;
    gap: 1rem;
}
.section-header{
    padding: 1rem 0;
}
.section-header h2{
    font-size: 1.7rem;
    font-weight: 600;
}
.card{
    padding: 0 1.5rem;
}
.card-content{
    padding: 1rem;
    gap: 2rem;
    border-radius: 10px;
}
#card-header{
    width: 100%;
    padding-left: 0;
}
#card-header h2{
    font-size: 1.5rem;
}
#card-header p{
    font-size: 1.1rem;
    color: #d3d3d3;
    opacity: 0.8;
    font-weight: 500;
}
.card-info{
    padding: 0;
    gap: 1.5rem;
    /* gap: var(--font-size);     */
}
.card-number{
    gap: 0.9rem;
}
.card-number span{
    font-size: 1.9rem;
}
.artist,.album,.playlist,.song{
    gap: 0.7rem;
}
.artist #artist-img{
    width: 50px;
    height: 50px;
}
#artist-number{
    padding: 0.2rem;
}
#artist-number h5{
    font-size: 1.16rem;
    font-weight: 500;
}
#artist-number p{
    color: #d3d3d389;
    font-size: 0.9rem;
}
.card-pagination{
    padding: 0.2rem 0;
    gap: 0.5rem;
}
.card-pagination #dot{
    height: 8px;
    width: 8px;
}
.card-pagination .share{
    font-size: 1.4rem;
    padding: 0.4rem;
    top: -20px;
    right: 5px;
}
#song-number #artist-flex,#album-flex{
    gap: 0.2rem;
}
#artist-flex i,#album-flex i{
    font-size: 0.4rem;
    background-color: white;
    border-radius: 3px;
    padding: 0.2rem;
}
#song-img,#album-img,#playlist-img{
    width: 50px;
    height: 50px;
    border-radius: 3px;
}
#song-number,#album-number,#playlist-number{
    padding: 0.3rem;
}
#song-number h5{
    font-weight: 500;
    font-size: 1.2rem;
}
#song-number h4,#album-number h5{
    font-size: 1.15rem;
    font-weight: 500;
}
#playlist-number h5{
    font-size: 1.15rem;
    font-weight: 500;
}
#song-number p, #album-number p, #playlist-number p{
    color: #d3d3d379;
    font-size: 0.9rem;
}

/* genre section */
.genre-body{
    padding: 1.5rem;
}
.genre-content{
    border-radius: 15px;
    padding: 1rem 1rem 3.5rem 1rem;
}
.genre-content h2{
    font-size: 1.5rem;
    font-weight: 500;
}
.genre-info h3{
    font-size: 1.4rem;
    font-weight: 600;
}
.genre-pagination .playlist-pagination .share{
    top: -50px;
    right: 20px;
}
/* replay section */
.replay{
    width: 100%;
    padding: 1rem;
}
.replay-content{
    width: 100%;
    padding: 0 1.5rem;
    gap: 2rem;
}
.replay-card{
    padding: 1rem;
    border-radius: 15px;
}
.replay-music{
    gap: 0.1rem;
}
.replay-music i{
    font-size: 1.2rem;
}
.replay-music p{
    font-size: 1.3rem;
}
.replay-number{
    padding-top: 2.5rem;
    padding-left: 0;
    padding-bottom: 0;
}
.replay-number h2{
    font-size: 2.5rem;
    font-weight: 500;
}
.replay-number h1{
    font-size: 10rem;
    font-weight: 500;
}
.replay-button button{
    width: 100%;
    max-width: 190px;
    padding: 0.7rem 0;
    gap: 0.3rem;
}
.replay-button button .arrow{
    font-size: 0.75rem;
}
.replay-button button p{
    font-size: 0.8rem;
    font-weight: 450;
}

/* summary */
.summary-info{
    gap: 0.2rem;
    padding: 1.7rem 0;
}
.summary-info > span{
    font-size: 0.75rem;
}

/* footer */
.footer-content{
    padding: 1rem;
}
.footer-content span > p{
    font-size: 0.65rem;
}
.footer-info{
    gap: 0.3rem;
    flex-wrap: wrap;
}
.footer-info span:not(:last-child){
    padding-right: 0.5rem;
    border-right: 0.5px solid lightgray;
}
.name-tag{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    /* text-align: center; */
}
.name-tag i{
    font-size: 1.1rem;
}
.name-tag a{
    font-size: 0.9rem;
}
}